{% extends "base_dashboard.html" %}

{% block title %}New Labor Class{% endblock %}



{% block content %}
<div class="panel panel-primary">

    <div class="panel-heading">
        <h1>Add New Labor Class</h1>
    </div>

    <div class="panel-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Labor Class </label>
                {{ form.labor_class }}
            </div>
            <br>
            <div class="form-group">
                <label>Billing Code </label>
                {{ form.billing_code }}
            </div>
            <br>
            <div class="form-group">
                <label>Default Rates</label>
                {{ form.default_rates }}
            </div>
            <br>
            <div class="form-group">
                <label>Active</label>
                {{ form.active }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
{% endblock content %}

